html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clear {
  clear: left;
}

.clear-right {
  clear: right;
}

body {
  background-color: black;
  color: white;
  width: 1250px;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  width: 940px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

header h2 {
  margin-top: 15px;
  margin-left: 8px;
}

header h2:hover {
  cursor: pointer;
}

header .search {
  margin-left: 30px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  border: solid 3px #3385d0;
}

header .search .search-btn {
  border-radius: 100px 0 0 100px;
  width: 50px;
  height: 40px;
  background-color: black;
}

header .search .search-btn .fa-search {
  margin-left: 13px;
  margin-top: 10px;
  color: #3385d0;
}

header .search .search-box {
  width: 100%;
  height: 40px;
  font-size: 19px;
  background-color: #2b2b2b;
  color: white;
  border-radius: 0 100px 100px 0;
  border: none;
}

.search-box:active {
  background-color: black;
  border: none;
}

.chat-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  border-radius: 20px;
  background-color: #3385d0;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
}

.side-nav {
  padding-top: 10px;
  width: 300px;
  border-right: solid 2px #161616;
}

.side-nav .fa-twitter {
  margin-left: 10px;
}

.side-nav li {
  list-style: none;
  font-weight: bold;
  padding: 18px 5px 0 18px;
}

.side-nav li div {
  width: 30px;
  display: inline-block;
}

.side-nav li div i {
  width: 30px;
  text-align: center;
}

.side-nav li span {
  margin-left: 20px;
}

.side-nav .large {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

.side-nav li:hover {
  background-color: #161616;
  color: #3385d0;
  cursor: pointer;
}

main {
  width: 830px;
  padding-top: 36px;
}

main:hover {
  background-color: #070707;
}

.tw-items i {
  height: 20px;
  margin-right: 14px;
  margin-top: 20px;
  color: #3385d0;
  cursor: pointer;
}

.tweet {
  float: right;
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px;
}

aside {
  width: 330px;
  padding-top: 80px;
}

aside h2 {
  margin-left: 10px;
}

.timeline-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  border-top: solid 5px #3b3b3b;
  cursor: pointer;
}

.user-image {
  width: 200px;
  margin-left: 30px;
}

.iroha {
  width: 100%;
  margin-top: 8px;
  border-radius: 70px;
}

.timeline-flex {
  padding: 13px 50px 8px 20px;
  width: 100%;
}

.timeline-flex i {
  margin-right: 90px;
  color: #757474;
}

.timeline-flex .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline-flex .username h3, .timeline-flex .username p {
  font-size: 16px;
}

.timeline-flex p {
  font-size: 16px;
}

.user-image {
  width: 80px;
}

.user-id {
  color: #bdbaba;
  margin-left: 7px;
}

.fa-comment:hover {
  color: #3385d0;
}

.fa-retweet:hover {
  color: #33d05a;
}

.fa-heart:hover {
  color: crimson;
}

.fa-download:hover {
  color: #3385d0;
}

.oregairu {
  width: 100%;
  padding-top: 10px;
  border-radius: 20px;
}

form .tweet-textbox input[type="text"] {
  width: 98%;
  font-size: 18px;
  border: none;
  background-color: #161616;
  color: white;
  display: block;
  height: 30px;
  margin-top: 20px;
}

form .tweet-textbox textarea {
  width: 98%;
  font-size: 18px;
  border: none;
  background-color: #161616;
  color: white;
  display: block;
  height: 30px;
  margin-top: 20px;
}

@media (max-width: 1300px) {
  body {
    width: 100%;
  }
  .side-nav {
    width: 150px;
  }
  .side-nav .fa-twitter {
    margin-left: 100px;
  }
  .side-nav li div {
    margin-left: 80px;
  }
  .side-nav li span {
    display: none;
  }
  .side-nav .large {
    display: none;
  }
}

header h2 {
  width: 620px;
  margin-left: 30px;
}

.tweet-form div {
  margin-left: 90px;
  padding-right: 40px;
}

aside {
  width: 430px;
  margin-right: 70px;
}

@media (max-width: 1200px) {
  .side-nav {
    width: 80px;
  }
  .side-nav .fa-twitter {
    margin-left: 20px;
  }
  .side-nav li div {
    margin: 0;
  }
  header h2 {
    width: 617px;
  }
}

@media (max-width: 1100px) {
  aside {
    width: 400px;
    margin: 0;
  }
  header h2 {
    width: 580px;
  }
  header .search {
    width: 280px;
  }
}

@media (max-width: 1000px) {
  body {
    width: 650px;
    padding-right: 90px;
  }
  .side-nav .fa-twitter {
    margin-left: 20px;
  }
  .side-nav li div {
    margin-right: 70px;
  }
  header .search {
    display: none;
  }
  header .search .search-box {
    display: none;
  }
  header h2 {
    width: 550px;
  }
  .timeline-flex i {
    margin-right: 70px;
  }
  aside {
    display: none;
  }
}

@media (max-width: 700px) {
  body {
    padding: 0;
    width: 100%;
  }
  .chat-container {
    width: 100%;
    margin: 0 auto;
  }
  .timeline-flex i {
    margin-right: 60px;
  }
}

@media (max-width: 600px) {
  main {
    width: 400px;
  }
  .tweet-form {
    display: none;
  }
  .timeline-flex i {
    margin-right: 35px;
  }
}
/*# sourceMappingURL=styleseet.css.map */